<ion-header>
  <ion-toolbar>
    <ion-title>Horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="secondary">
      <ion-label>Lunes</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Habilidades de comunicación 10:00</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Matematica Aplicada 11:30</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Biofisica 14:30</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Histoembriologia 16:00</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="secondary">
      <ion-label>Martes</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Quimica Biologica 10:00</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Anatomia Rumiantes 11:30</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Principios de Fe Cristiana 14:30</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ecologia 16:00</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Etica 17:30</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="secondary">
      <ion-label>Miercoles</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Matematica Aplicada 10:00</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Biofisica 11:30</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Anatomia Rumiantes 14:30</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ecologia 16:00</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Habilidades de comunicación 17:30</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="secondary">
      <ion-label>Jueves</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Anatomia Ruminantes 10:00</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Histoembriologia 11:30</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Quimica Biologica 14:30</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ecologia 16:00</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Biofisica 17:30</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="secondary"s>
      <ion-label>Viernes</ion-label>
    </ion-item>
  </ion-list>
  <div class="container">
    <ion-button [routerLink]="['/menu']" size="small" color="secondary">Volver atras</ion-button>
  </div>
</ion-content>
